<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="name" content="To do list" />
    <meta name="description" content="Gestionnaire de tâches"/>
    <title>Gestionnaire de tâches</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <script src="/dist/bundle.js"></script>
  </head>
  <body id="body-login">
    <div class="container-login" style="display: none;">
      <div class="card-login">
        <div><h1 class="connexion">CONNEXION</h1></div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" name="email" id="mail-input" required>
        </div>

        <form class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password" name="password" id="password-input" required minlength="8">
        </form>
        <button type="submit" class="login-submit">Se connecter</button>
        <div id="error-msg-container" class="error-msg" style="display: none;">
          <div class="error-box">
            <span class="alert-msg"></span>
          </div>
        </div>
        <div class="no-account" onclick="changeView('register')"><strong>Pas encore de compte ? Inscrivez-vous !</strong></div>
      
    </div>
  </body>
</html>
