<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="name" content="To do list" />
    <meta name="description" content="Gestionnaire de tâches"/>
    <title>Gestionnaire de tâches</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <script src="/dist/bundle.js"></script>
  </head>
  <body>
    <div class="container-register">
      <div class="card-register">
        <div><h1 class="inscription">INSCRIPTION</h1></div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" name="email" id="mail-register-input" required>
        </div>
        <form class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password" name="password" id="password-register-input" required minlength="8">
        </form>
        <div class="error-msg-register"></div>
        <button type="submit" class="register-submit">Créer son compte</button>
        <div class="no-account" onclick="changeView('login')"><strong>Déjà un compte ? Connectez-vous !</strong></div>
      </div>
    </div>
  </body>
  
</html>
